.nav-top {
    background-color: rgb(64, 66, 65) !important;
}

.nav-menu {
    color: white !important;
    background-color: #0e0e0e !important;
    margin: 0.3em !important;
    border-radius: 0.3em !important;
    font-weight: bold !important;
}



nav img {
    width: 2em !important;
}

.button-br {
    color: rgb(255, 255, 255) !important;
    background-color: #b8b8b8 !important;
    border: #000000;
    border-radius: 3cm;
}

.button-br-1 {
    background-color: rgb(64, 66, 65)
}

.text-1 {
    color: white !important;
}

.img-car {
    max-height: 30em !important;
}

.carousel-caption {
    background-color: aqua !important;
}

.divisão {
    background-color: rgb(64, 66, 65) !important;
    color: white !important;
    text-align: center !important;
    padding: 5% !important;
}

.sec-pacotes {
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.5% !important;
}

.card {
    margin-left: 1em !important;
    padding: 1em !important;
}